---
import Layout from '/src/layouts/Layout.astro';
---

<Layout>
  <h1>Astro DBのサンプル</h1>
  <ul>
    <li><a href="/post">Postでコメントを送るページ</a></li>
    <li><a href="/actions">Actionsでコメントを送るページ</a></li>
  </ul>
</Layout>